* {
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#mainBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 4px solid black;
  border-radius: 7px;
  width: 310px;
  background-color: grey;
}

#display {
  display: flex;
  flex-direction: column;
  height: 90px;
  width: 260px;
  border: 2px solid black;
  box-shadow: 2px 2px black;
  border-radius: 5px;
  margin-bottom: 10px;
  justify-content: flex-end;
  background-color: white;
}

#firstDisplay{
  display: flex;
  /* border: 1px solid black; */
  justify-content: flex-end;
  font-size: 40px;
  height: 48px;
}

#secondDisplay {
  display: flex;
  /* border: 1px solid black; */
  padding-right: 5px;
  justify-content: flex-end;
  font-size: 20px;
}

#buttonsBottom{
  display: flex;
  margin-top: 5px;
  gap: 5px;
}

#numberPad {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 190px;
}

.key {
  height: 60px;
  width: 60px;
  padding: 0;
  background-color: rgb(87, 87, 109);
  color: white;
  border: 2px solid black;
  border-radius: 3px;
  box-shadow: 2px 2px black;
}

.key:hover {
  background-color: rgb(60, 60, 74)
}

#divide {
  font-size: larger;
}


#operatorPadOne {
  display: flex;
  gap: 5px;
}

#operatorPadTwo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#equal {
  height: 125px;
  padding: 0;
  background-color: orange;
  color: white;
  border: 2px solid black;
  box-shadow: 2px 2px black;
}

#equal:hover {
  background-color: rgb(189, 123, 0);
}

#clear {
  background-color: rgb(192, 36, 36);
}

#clear:hover {
  background-color: rgb(119, 21, 21);
}